body {
    margin: 0;
}

header {
    background-color: #281B2D;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1{
    font-size: 72px;
    margin: 0;
}

.subheading{
    font-size: 48px;
    color: #FCD801;
    background-color: #281B2D;
    border-bottom: solid 4px #00C54C; 
    padding: 20px;
}

/* h1{
    background-color: #281B2D;
    color: #fff;
    text-align: center;
    font-size: 72px;
    margin-top: 0;
    padding: 25px 0; 
} */
