body {
    margin: 0;
    padding-bottom: 20px;
}

header {
    background-color: #281B2D;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 25px;
}

h1{
    font-size: 72px;
    margin: 0;
}

a {
    color: #281B2D
}

a:hover {
    color: #fff;
}

.subheading{
    font-size: 48px;
    color: #FCD801;
    background-color: #281B2D;
    border-bottom: solid 5px #00C54C; 
    padding: 20px;
    margin-top: 0
}

.white-text {
    color: white
}

.container{
    max-width: 1000px;
    margin: 0 auto; 
    padding: 0 20px;
}

.columns {
    display:flex;
}

.main-content{
    width: 65%;
    margin-right: 5%;
}

.column-right {
    margin-left: 25px;
}

.sidebar{
    width: 30%;
    background-color: #9AE84F;
    padding: 15px;
    box-shadow: 10px 10px 5px green;
}



.source {
    font-size: 12px;
}



/* h1{
    background-color: #281B2D;
    color: #fff;
    text-align: center;
    font-size: 72px;
    margin-top: 0;
    padding: 25px 0; 
} */
